.HomeContainer {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.ToggleButton {
  position: absolute;
  left: 0.5em;
  font-size: 2em;
}