.CartItemRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CartItemRowLeft {
  display: flex;
  align-items: center;
}

.CartItemRowRight {
  display: flex;
  align-items: center;
}

.CartItemTotalContainer {
  position: absolute;
  width: 90%;
  bottom: 0;
}

.CartItemTotal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.DeleteIcon {
  margin-right: 0.5em;
}