.MenuModalLoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuModalLoader {
  font-size: 3em;
}

.MenuImage {
  width: 11em;
  height: 11em;
  object-fit: contain;
}

.MenuItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MenuItemImage {
  text-align: center;
}