@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.ant-card-actions {
  background-color: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background: none;
  border: none;
}

.ant-drawer-header {
  background-image: linear-gradient(180deg, #fdfcfb 0%, #e2d1c3 100%);
}

.ant-drawer-wrapper-body {
  background-image: linear-gradient(0deg, #fdfbfb 0%, #ebedee 100%);
}